In [64]:
#***************************************** Create data frames ********************************************


import pandas as pd

#Top 10000 File
top_10000_file='./Data/Top10000.csv'

albums=pd.read_csv(top_10000_file,header=0)

albums.head(2)

#Events File
world_events_file='./Data/WorldEvents.csv'

events=pd.read_csv(world_events_file,header=0)

events.head(2)

#Music Emotions File
music_emotions_file='./Data/MusicEmotionList.csv'

musicEmotions=pd.read_csv(music_emotions_file,header=0)

musicEmotions.head(2)

,Unnamed: 0,artist_name,track_name,release_date,genre,lyrics,len,dating,violence,world/life,...,sadness,feelings,danceability,loudness,acousticness,instrumentalness,valence,energy,topic,age
0,0,mukesh,mohabbat bhi jhoothi,1950,pop,hold time feel break feel untrue convince spea...,95,0.000598,0.063746,0.000598,...,0.380299,0.117175,0.357739,0.454119,0.997992,0.901822,0.339448,0.13711,sadness,1.0
1,4,frankie laine,i believe,1950,pop,believe drop rain fall grow believe darkest ni...,51,0.035537,0.096777,0.443435,...,0.001284,0.001284,0.331745,0.647540,0.954819,0.000002,0.325021,0.26324,world/life,1.0

In [90]:
############# Profiling and Transformation section ############################

#***************************** 'Albums' transformation ***************************************
import numpy as np
#change 'album release date' column to release_date
#albums=albums.rename(columns={'Album Release Date':'release_date'})

#albums.head(1)

#Drop unneeded columns:

#albums.drop(columns=['Track URI','Artist URI(s)','Album URI','Album Artist URI(s)','Album Image URL','Time Signature','Label','Copyrights'],inplace=True)
#albums.drop(columns=['Album Artist Name(s)'],inplace=True)
#albums.drop(columns=['Disc Number', 'Track Number','Track Duration (ms)','Track Preview URL','Added By','Added At','Artist Genres','ISRC','Key'],inplace=True)
#albums.drop(columns=['Loudness','Mode','Speechiness','Acousticness','Instrumentalness','Liveness','Valence'],inplace=True)
#print(albums.dtypes)

#sort in ascending order 
#albums.sort_values(['Album Genres'],ascending=True)

#change 'release_date' object to a datetime object
# 'errors=coerce' will change any bad date values to 'NaT' which means 'Not a Time'
#albums['release_date']=pd.to_datetime(albums['release_date'],format='%Y-%m-%d',errors='coerce')

# Add 'album_year' column to top 10000 file
#albums['album_year']=albums['release_date'].dt.year

#Change datatypes for "Album Genres" 
#albums['Album Genres'] = albums['Album Genres'].astype(str)

#drop blank album years
#albums.dropna(subset=['album_year'],inplace=True)

#Change datatypes for "Album Year"
#albums['album_year'] = albums['album_year'].astype(int)

#Show breakdown of Genres column
#genre_types= albums['Album Genres'].value_counts()
#print(genre_types)

#Drop Album Genres column
#albums.drop(columns=['Album Genres'],inplace=True)


#Show breakdown of release date
#release_date_values= albums['release_date'].value_counts()
#print(release_date_values)

#show blank rows by release date
#albums.loc[albums.release_date.isna()]

#drop blank rows
#albums.dropna(subset=['release_date'],inplace=True)

#create a function to add a 'Decade' column to the albums dataframe
#def decade_column(df,year_column='album_year'):
    #Create a lambda function to create the Decade column
    # '//' is a 'floor division' operator and is used to return the largest integer that is less than or equal 
    #to the result of the division
    #df['decade']=df[year_column].apply(lambda album_year: (album_year // 10)* 10)

#decade_column(albums)

###### Delete rows where Decade is < 1960

#Find albums where decade is less than 1960 
condition=albums['decade'] < 1960

#Return albums where decade is greater than or equal to 1960 and rename dataframe to 'updated_albums'
updated_albums=albums[~condition]

#print(updated_albums)

#sort in descending order by decade
updated_albums.sort_values(['decade'],ascending=True)

#show datatypes in 'albums'
#print(updated_albums.dtypes)

#Show specific rows
#updated_albums.head(2)

,Track Name,Artist Name(s),Album Name,release_date,Explicit,Popularity,Danceability,Energy,Tempo,album_year,decade
4987,Over Under Sideways Down - The Mono Album,The Yardbirds,Roger the Engineer,1966-07-15,False,50,0.529,0.861,96.520,1966,1960
322,We'll Sing in the Sunshine,Gale Garnett,My Kind of Folk Songs,1964-11-04,False,44,0.536,0.351,106.730,1964,1960
7705,Wedding Ring,The Easybeats,It's 2 Easy,1966-04-01,False,23,0.435,0.981,115.300,1966,1960
4511,These Boots Are Made For Walkin',Nancy Sinatra,Boots,1966-03-01,False,2,0.740,0.392,82.742,1966,1960
3789,With A Girl Like You,The Troggs,From Nowhere,1966-07-25,False,55,0.650,0.680,113.925,1966,1960
...,...,...,...,...,...,...,...,...,...,...,...
7980,Eyes Closed,Ed Sheeran,Eyes Closed,2023-03-24,False,87,0.777,0.526,107.071,2023,2020
7979,Jerusalema (feat. Burna Boy & Nomcebo Zikode) ...,"Master KG, Nomcebo Zikode, Burna Boy",Jerusalema (feat. Burna Boy & Nomcebo Zikode) ...,2020-07-09,False,52,0.837,0.449,124.021,2020,2020
2607,Love Story (Taylorâ€™s Version),Taylor Swift,Love Story (Taylorâ€™s Version),2021-02-12,False,86,0.626,0.790,119.082,2021,2020
5349,Higher Power,Coldplay,Higher Power,2021-05-07,False,75,0.507,0.828,178.032,2021,2020
9998,Padam Padam,Kylie Minogue,Padam Padam,2023-05-19,False,69,0.744,0.620,128.103,2023,2020

In [95]:
#*********************************** 'Music Emotions' Transformation *************************

#Drop unneeded columns
#musicEmotions.drop(columns=['lyrics','len','danceability','loudness'],inplace=True)
#musicEmotions.drop(columns=['acousticness','instrumentalness','valence','age'],inplace=True)
#musicEmotions.drop(columns=['feelings','music','movement/places'],inplace=True)

#change 'release_date' to 'release_year'
#musicEmotions=musicEmotions.rename(columns={'release_date':'release_year'})

#show blank rows by release year
#musicEmotions.loc[musicEmotions.release_year.isna()]

#show blank rows by genre
#musicEmotions.loc[musicEmotions.genre.isna()]

#show blank rows by topic
#musicEmotions.loc[musicEmotions.topic.isna()]

#drop blank rows
#musicEmotions.dropna(subset=['release_date'],inplace=True)

#show blank rows by release year
#musicEmotions.loc[musicEmotions.release_year.isna()]

#create a function to add a 'Decade' column to the musicEmotions dataframe
#def decade_column(df,year_column='release_year'):
    #Create a lambda function to create the Decade column
    # '//' is a 'floor division' operator and is used to return the largest integer that is less than or equal 
    #to the result of the division
    #df['decade']=df[year_column].apply(lambda release_year: (release_year // 10)* 10)

#decade_column(musicEmotions)

###### Delete rows where Decade is < 1960

#Find albums where decade is less than 1960 
#condition2=musicEmotions['decade'] < 1960

#Return albums where decade is greater than or equal to 1960 and rename dataframe to 'updated_albums'
updated_musicEmotions=musicEmotions[~condition2]

#sort in descending order by decade
#updated_musicEmotions.sort_values(['decade'],ascending=True)

#show datatypes in 'Music Emotions'
#print(updated_musicEmotions.dtypes)

#Show specific rows
updated_musicEmotions.head(2)

,Unnamed: 0,artist_name,track_name,release_year,genre,dating,violence,world/life,night/time,shake the audience,...,romantic,communication,obscene,light/visual perceptions,family/spiritual,like/girls,sadness,energy,topic,decade
325,842,jerry lee lewis,your cheating heart,1960,pop,0.204740,0.002506,0.002506,0.129818,0.002506,...,0.002506,0.002506,0.002506,0.002506,0.002506,0.002506,0.474607,0.691682,sadness,1960
326,843,sam cooke,the japanese farewell song,1960,pop,0.001698,0.001698,0.247821,0.001698,0.001698,...,0.331030,0.001698,0.001698,0.232922,0.001698,0.001698,0.162760,0.288266,romantic,1960

In [93]:
#*************************************** 'Events' transformation *****************************
#create a function to add a 'Decade' column to the Events dataframe

#def decade_column(df,year_column='Year'):
    #Create a lambda function to create the Decade column
    # '//' is a 'floor division' operator and is used to return the largest integer that is less than or equal 
    #to the result of the division
    #df['decade']=df[year_column].apply(lambda Year: (Year // 10)* 10)

#decade_column(events)

#show blank rows by Year
#events.loc[events.Year.isna()]

#drop blank rows by Year
#events.dropna(subset=['Year'],inplace=True)

#Show specific rows
events.head(2)

#show datatypes in 'events'
#print(events.dtypes)

   Year      Event Description  decade
0  2004        9/11 Commission    2000
1  2001   Anthrax Attacks U.S.    2000

In [92]:
#********************* Joined Datasets *********************

#combine Events & Albums dataframes using an outer join to create the events_albums dataframe
events_albums = pd.merge(events,updated_albums,on='decade',how='outer')
#print(events_albums)

events_albums.head()

,Year,Event Description,decade,Track Name,Artist Name(s),Album Name,release_date,Explicit,Popularity,Danceability,Energy,Tempo,album_year
0,2004,9/11 Commission,2000,I Know You Want Me (Calle Ocho),Pitbull,Pitbull Starring In Rebelution,2009-10-23,False,64,0.825,0.743,127.045,2009
1,2004,9/11 Commission,2000,It's Like That,"Runâ€“D.M.C., Jason Nevins",The Greatest Hits,2002-09-10,False,68,0.852,0.874,129.029,2002
2,2004,9/11 Commission,2000,Here Without You,3 Doors Down,Away From The Sun,2002-11-12,False,80,0.557,0.533,143.994,2002
3,2004,9/11 Commission,2000,Listen to the Band - Single Version,The Monkees,The Best of The Monkees,2003-01-01,False,31,0.260,0.659,184.380,2003
4,2004,9/11 Commission,2000,Homecoming,Hey Monday,Hold On Tight,2008-10-07,False,47,0.393,0.958,150.074,2008

In [96]:
#Topics & Events

#combine Events & Topics dataframes using an outer join to create the events_topics dataframe
events_topics = pd.merge(events,updated_musicEmotions,on='decade',how='outer')
#print(events_topics)

events_topics.head()

,Year,Event Description,decade,Unnamed: 0,artist_name,track_name,release_year,genre,dating,violence,...,family/gospel,romantic,communication,obscene,light/visual perceptions,family/spiritual,like/girls,sadness,energy,topic
0,2004,9/11 Commission,2000,13766.0,3 doors down,duck and run,2000.0,pop,0.000877,0.000877,...,0.000877,0.000877,0.143033,0.000877,0.062287,0.021794,0.000877,0.284506,0.919917,world/life
1,2004,9/11 Commission,2000,13767.0,ricky nelson,hello mary lou,2000.0,pop,0.000923,0.000923,...,0.000923,0.393975,0.118949,0.000923,0.000923,0.132796,0.000923,0.140091,0.601589,romantic
2,2004,9/11 Commission,2000,13770.0,modest mouse,perfect disguise,2000.0,pop,0.002105,0.175750,...,0.002105,0.002105,0.114916,0.361709,0.002105,0.002105,0.109512,0.140042,0.359339,obscene
3,2004,9/11 Commission,2000,13774.0,joe,i believe in you,2000.0,pop,0.001224,0.001224,...,0.001224,0.063030,0.001224,0.001224,0.078282,0.026630,0.001224,0.058538,0.525511,world/life
4,2004,9/11 Commission,2000,13776.0,fuel,empty spaces,2000.0,pop,0.001504,0.384026,...,0.001504,0.001504,0.001504,0.001504,0.278633,0.001504,0.001504,0.313281,0.943942,violence

In [ ]:
################## Create Visuals ################

#********** Number of Albums by Year #########
import matplotlib.pyplot as plt

#Create a variable to hold a count of unique album years(value_counts), then sort in ascending order (sort_index)
album_count=albums['album_year'].value_counts().sort_index()

#Create the bar chart with 'album_count.index' for the x axis and album_count.values for the Y axis
plt.bar(album_count.index,album_count.values)

# Add a title to the chart
plt.title("Number of Albums by Year\n 1960-Present")

#Label the X and Y axis
plt.xlabel('Year')
plt.ylabel('Number Albums')

#Show the chart
plt.show()

#Show number of albums by artist and year
albums_per_artist= albums.groupby(['Artist Name(s)','album_year']).album_year.count()
albums_per_artist

In [ ]:
#**************************** Number of events by Year ****************************

import matplotlib.pyplot as plt

#Create a variable to hold a count of unique Event years(value_counts), then sort in ascending order (sort_index)
event_count=events['Year'].value_counts().sort_index()

#Create the bar chart with 'event_count.index' for the x axis and event_count.values for the Y axis
plt.bar(event_count.index,event_count.values)

# Add a title to the chart
plt.title("Events by Year\n 1960-Present")

#Label the X and Y axis
plt.xlabel('Year')
plt.ylabel('Number of Events')

#Show the chart
plt.show()

#Show number of events by Description and year
event_details= events.groupby(['Event Description','Year']).Year.count()

event_details

In [ ]:
#Create a heatmap to show the number of albums by artist and year

#Show number of albums by artist and year
#albums_per_artist= albums.groupby(['Artist Name(s)','album_year']).album_year.count()
#albums_per_artist

import seaborn as sns

#Count the number of albums by artist and year, relabel the index to be 'record_count"
#albums_per_artist= albums.groupby(['Artist Name(s)','album_year']).size().reset_index(name='record_count')
albums_per_artist= albums.groupby(['Artist Name(s)','album_year']).album_year.count().reset_index(name='record_count')

#Heatmap
plt.figure(figsize=(12,8))

#Create a pivot table (pivot_table()), this forms the 'shape' of  heatmap

#heatmap_data = albums_per_artist.pivot_table(index='Artist',columns='Year',values='record_count',aggfunc='sum',fill_value=0)
heatmap_data = albums_per_artist.pivot_table(index='Artist Name(s)',columns='album_year',values='record_count',aggfunc='sum',fill_value=0)

#Set the attributes of the heatmap and create the map
sns.heatmap(heatmap_data,annot=True,cmap='Blues',fmt='d')

plt.title('Albums by Artist & Year')

plt.xlabel('album_year')
plt.ylabel('Artist Name(s)')

plt.show