In [64]:
#***************************************** Create data frames ********************************************


import pandas as pd

#Top 10000 File
#top_10000_file='./Data/Top10000.csv'

#albums=pd.read_csv(top_10000_file,header=0)

#albums.head(2)

#Events File
#world_events_file='./Data/WorldEvents.csv'

#events=pd.read_csv(world_events_file,header=0)

#events.head(2)

#Music Emotions File
music_emotions_file='./Data/MusicEmotionList.csv'

musicEmotions=pd.read_csv(music_emotions_file,header=0)

musicEmotions.head(2)

,Unnamed: 0,artist_name,track_name,release_date,genre,lyrics,len,dating,violence,world/life,...,sadness,feelings,danceability,loudness,acousticness,instrumentalness,valence,energy,topic,age
0,0,mukesh,mohabbat bhi jhoothi,1950,pop,hold time feel break feel untrue convince spea...,95,0.000598,0.063746,0.000598,...,0.380299,0.117175,0.357739,0.454119,0.997992,0.901822,0.339448,0.13711,sadness,1.0
1,4,frankie laine,i believe,1950,pop,believe drop rain fall grow believe darkest ni...,51,0.035537,0.096777,0.443435,...,0.001284,0.001284,0.331745,0.647540,0.954819,0.000002,0.325021,0.26324,world/life,1.0

In [54]:
############# Profiling and Transformation section ############################

#***************************** 'Albums' transformation ***************************************
import numpy as np
#change 'album release date' column to release_date
#albums=albums.rename(columns={'Album Release Date':'release_date'})

#albums.head(1)

#Drop unneeded columns:

#albums.drop(columns=['Track URI','Artist URI(s)','Album URI','Album Artist URI(s)','Album Image URL','Time Signature','Label','Copyrights'],inplace=True)
#albums.drop(columns=['Album Artist Name(s)'],inplace=True)
#albums.drop(columns=['Disc Number', 'Track Number','Track Duration (ms)','Track Preview URL','Added By','Added At','Artist Genres','ISRC','Key'],inplace=True)
#albums.drop(columns=['Loudness','Mode','Speechiness','Acousticness','Instrumentalness','Liveness','Valence'],inplace=True)
#print(albums.dtypes)


#sort in ascending order 
#albums.sort_values(['Album Genres'],ascending=True)

#change 'release_date' object to a datetime object
# 'errors=coerce' will change any bad date values to 'NaT' which means 'Not a Time'
#albums['release_date']=pd.to_datetime(albums['release_date'],format='%Y-%m-%d',errors='coerce')

# Add 'album_year' column to top 10000 file
#albums['album_year']=albums['release_date'].dt.year

#Change datatypes for "Album Genres" 
#albums['Album Genres'] = albums['Album Genres'].astype(str)

#drop blank album years
#albums.dropna(subset=['album_year'],inplace=True)

#Change datatypes for "Album Year"
#albums['album_year'] = albums['album_year'].astype(int)

#Show breakdown of Genres column
#genre_types= albums['Album Genres'].value_counts()
#print(genre_types)

#Drop Album Genres column
#albums.drop(columns=['Album Genres'],inplace=True)


#Show breakdown of release date
#release_date_values= albums['release_date'].value_counts()
#print(release_date_values)

#show blank rows by release date
#albums.loc[albums.release_date.isna()]

#drop blank rows
#albums.dropna(subset=['release_date'],inplace=True)



#create a function to add a 'Decade' column to the albums dataframe
def decade_column(df,year_column='album_year'):
    #Create a lambda function to create the Decade column
    # '//' is a 'floor division' operator and is used to return the largest integer that is less than or equal 
    #to the result of the division
    df['decade']=df[year_column].apply(lambda album_year: (album_year // 10)* 10)

decade_column(albums)

#show datatypes in 'albums'
#print(albums.dtypes)

#Show specific rows
albums.head(2)

,Track Name,Artist Name(s),Album Name,release_date,Explicit,Popularity,Danceability,Energy,Tempo,album_year,decade
0,Justified & Ancient - Stand by the Jams,The KLF,Songs Collection,1992-08-03,False,0,0.617,0.872,111.458,1992,1990
1,I Know You Want Me (Calle Ocho),Pitbull,Pitbull Starring In Rebelution,2009-10-23,False,64,0.825,0.743,127.045,2009,2000

In [75]:
#*********************************** 'Music Emotions' Transformation *************************

#Drop unneeded columns
#musicEmotions.drop(columns=['lyrics','len','danceability','loudness'],inplace=True)
#musicEmotions.drop(columns=['acousticness','instrumentalness','valence','age'],inplace=True)
#musicEmotions.drop(columns=['feelings','music','movement/places'],inplace=True)

#change 'release_date' to 'release_year'
#musicEmotions=musicEmotions.rename(columns={'release_date':'release_year'})

#show blank rows by release year
#musicEmotions.loc[musicEmotions.release_year.isna()]

#show blank rows by genre
#musicEmotions.loc[musicEmotions.genre.isna()]

#show blank rows by topic
#musicEmotions.loc[musicEmotions.topic.isna()]

#drop blank rows
#musicEmotions.dropna(subset=['release_date'],inplace=True)

#show blank rows by release year
#musicEmotions.loc[musicEmotions.release_year.isna()]

#create a function to add a 'Decade' column to the musicEmotions dataframe
def decade_column(df,year_column='release_year'):
    #Create a lambda function to create the Decade column
    # '//' is a 'floor division' operator and is used to return the largest integer that is less than or equal 
    #to the result of the division
    df['decade']=df[year_column].apply(lambda release_year: (release_year // 10)* 10)

decade_column(musicEmotions)

#show datatypes in 'Music Emotions'
#print(musicEmotions.dtypes)

#Show specific rows
musicEmotions.head(2)

,Unnamed: 0,artist_name,track_name,release_year,genre,dating,violence,world/life,night/time,shake the audience,...,romantic,communication,obscene,light/visual perceptions,family/spiritual,like/girls,sadness,energy,topic,decade
0,0,mukesh,mohabbat bhi jhoothi,1950,pop,0.000598,0.063746,0.000598,0.000598,0.000598,...,0.017104,0.263751,0.000598,0.000598,0.000598,0.000598,0.380299,0.13711,sadness,1950
1,4,frankie laine,i believe,1950,pop,0.035537,0.096777,0.443435,0.001284,0.001284,...,0.001284,0.001284,0.001284,0.212681,0.051124,0.001284,0.001284,0.26324,world/life,1950

In [79]:
#*************************************** 'Events' transformation *****************************
#create a function to add a 'Decade' column to the Events dataframe
def decade_column(df,year_column='Year'):
    #Create a lambda function to create the Decade column
    # '//' is a 'floor division' operator and is used to return the largest integer that is less than or equal 
    #to the result of the division
    df['decade']=df[year_column].apply(lambda Year: (Year // 10)* 10)

decade_column(events)

#Show specific rows
events.head(2)

#show datatypes in 'events'
#print(events.dtypes)

   Year      Event Description  decade
0  2004        9/11 Commission    2000
1  2001   Anthrax Attacks U.S.    2000

In [ ]:
################## Create Visuals ################

#********** Number of Albums by Year #########
import matplotlib.pyplot as plt

#Create a variable to hold a count of unique album years(value_counts), then sort in ascending order (sort_index)
album_count=albums['album_year'].value_counts().sort_index()

#Create the bar chart with 'album_count.index' for the x axis and album_count.values for the Y axis
plt.bar(album_count.index,album_count.values)

# Add a title to the chart
plt.title("Number of Albums by Year\n 1960-Present")

#Label the X and Y axis
plt.xlabel('Year')
plt.ylabel('Number Albums')

#Show the chart
plt.show()

#Show number of albums by artist and year
albums_per_artist= albums.groupby(['Artist Name(s)','album_year']).album_year.count()
albums_per_artist

In [ ]:
#**************************** Number of events by Year ****************************

import matplotlib.pyplot as plt

#Create a variable to hold a count of unique Event years(value_counts), then sort in ascending order (sort_index)
event_count=events['Year'].value_counts().sort_index()

#Create the bar chart with 'event_count.index' for the x axis and event_count.values for the Y axis
plt.bar(event_count.index,event_count.values)

# Add a title to the chart
plt.title("Events by Year\n 1960-Present")

#Label the X and Y axis
plt.xlabel('Year')
plt.ylabel('Number of Events')

#Show the chart
plt.show()

#Show number of events by Description and year
event_details= events.groupby(['Event Description','Year']).Year.count()

event_details

In [ ]:
#Create a heatmap to show the number of albums by artist and year

#Show number of albums by artist and year
#albums_per_artist= albums.groupby(['Artist Name(s)','album_year']).album_year.count()
#albums_per_artist

import seaborn as sns

#Count the number of albums by artist and year, relabel the index to be 'record_count"
#albums_per_artist= albums.groupby(['Artist Name(s)','album_year']).size().reset_index(name='record_count')
albums_per_artist= albums.groupby(['Artist Name(s)','album_year']).album_year.count().reset_index(name='record_count')

#Heatmap
plt.figure(figsize=(12,8))

#Create a pivot table (pivot_table()), this forms the 'shape' of  heatmap

#heatmap_data = albums_per_artist.pivot_table(index='Artist',columns='Year',values='record_count',aggfunc='sum',fill_value=0)
heatmap_data = albums_per_artist.pivot_table(index='Artist Name(s)',columns='album_year',values='record_count',aggfunc='sum',fill_value=0)

#Set the attributes of the heatmap and create the map
sns.heatmap(heatmap_data,annot=True,cmap='Blues',fmt='d')

plt.title('Albums by Artist & Year')

plt.xlabel('album_year')
plt.ylabel('Artist Name(s)')

plt.show